<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fa_blog_study.dao.ArticleBodyMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ms_article_body
        (content,content_html,article_id)
        VALUES (#{content},#{contentHtml},#{articleId})
    </insert>
</mapper>